.google_logo {
	height: 33px;
	width: 92px;
	background-size: 92px 2460px;
	background: url(http://ssl.gstatic.com/gb/images/v1_89332204.png) 0
		-1904px;
	display: block;
}

.google_apps {
	height: 33px;
	width: 30px;
	background-size: 92px 2460px;
	background: url(http://ssl.gstatic.com/gb/images/v1_89332204.png) -60px
		-1627px;
	display: block;
}

.google_notifications {
	height: 30px;
	width: 30px;
	background-size: 92px 2460px;
	background: url(http://ssl.gstatic.com/gb/images/v1_89332204.png) -69px
		-104px;
	display: block;
}

.back_arrow {
	height: 20px;
	width: 20px;
	margin: 0 15px;
	background-size: initial;
	background: no-repeat url(//ssl.gstatic.com/mail/sprites/general_white-2fe5e645306ac40f8f7d625f4404bddc.png) 0
		-320px;
	display: block;
}

.back_refresh {
	height: 20px;
	width: 20px;
	margin: 0 15px;
	background-size: initial;
	background: no-repeat url(//ssl.gstatic.com/mail/sprites/general_white-2fe5e645306ac40f8f7d625f4404bddc.png) 0
		-298px;
	display: block;
}

.input-group-addon.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
	border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
	border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
	border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
	border-color: rgb(212, 63, 58);
}